*,
::after,
::before {
    box-sizing: border-box;
}


.navbar-collapse {
    justify-content: space-between;
}

.navbar-toggler {
    color: #fff;
  
}


.btn-outline-dark {
    color: #fff;
    border-color: #fff;
}

.btn-outline-dark:hover {
    color: #fff;
    border-color: rgb(240, 47, 47);
    background-color: transparent;
}

.carousel,
.carousel-item {
    height: 100vh;
    padding-top: 10px;
}

.view {
    height: 90%;
}